body
{
    background-image: url("Imagenes/Fondo1.jpg");
    background-repeat: no-repeat;
}

.contenedor-padre
{
    display: flex;
    margin-top: 40px;
}

.contenedor-izquierdo{
    width: 10%; 
            height: 520px;
            background-color: transparent;
            border: 1px solid transparent;
            margin-left: 50px;
}
.contenedor-derecho {
    width: 80%; 
    height: 520px; 
    background-color: transparent;
   border: 1px solid transparent;
    margin-left: 20px; 
    margin-right: 20px;
}

.titulo{
    font-size: 36px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    font-weight:bold;
    margin-left: 200px;
}